.categories {
  border-bottom: 1px solid $colorSecondary;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    @include breakpoint-down(tab) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    @include breakpoint-down(mobile) {
      grid-template-columns: 1fr;
    }

    & > *:not(:last-child) {
      margin-right: 1.5rem;

      @include breakpoint-down(tab) {
        margin-right: 0;
      }
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    background: $colorSecondary;
    color: $colorDark;
    cursor: pointer;
    padding: 2.5rem 1.5rem;
    border-radius: 10px 30px;

    @include breakpoint-down(mobile) {
      align-items: center;
      text-align: center;
    }

    a {
      color: $colorPrimary;
    }

    p {
      font-size: $font-sm;
    }
  }

  .active {
    transform: scale(1.08);
    background-color: $colorPrimary;
    color: $colorLight;

    a {
      color: $colorLight;
      border-bottom: 1px solid;
    }
  }
}

#property-listings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include breakpoint-down(mobile) {
    text-align: center;
  }

  .property-listings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 3rem;

    @include breakpoint-down(mobile) {
      grid-template-columns: 1fr;
    }

    a {
      font-size: $font-med;
      &:hover {
        opacity: 1;
      }
    }

    &__listing {
      background: $colorSecondary;
      font-weight: 500;
      border-radius: 8px;
      transition: all 400ms ease-in-out;

      &:hover {
        background: rgb(241, 187, 241);
        transform: scale(1.05);

        img {
          transform: scale(1.2);
        }
      }

      p {
        padding: 0 1rem;
      }

      h3 {
        padding: 2.5rem 1rem 0;
      }

      &__price {
        margin-top: 1rem;
        // font-size: 1.2rem;
        font-weight: 700;
      }

      &__area {
        font-weight: 700;
        font-size: $font-sm;
      }

      .img--container {
        overflow: hidden;
        height: 300px;

        img {
          height: 100%;
          transition: all 300ms ease-in-out;
        }
      }
    }
  }
}

#achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .achievements {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;

    @include breakpoint-down(mobile) {
      flex-direction: column;
      margin-top: 2rem;

      & > *:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    p {
      font-weight: 600;
      font-size: 1.6rem;
    }

    i {
      color: $colorPrimary;
      margin: 1rem 0;

      @include breakpoint-down(mobile) {
        margin: 0.25rem 0;
      }
    }
  }
}
