.categories {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    & > *:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    background: $colorSecondary;
    color: $colorDark;
    cursor: pointer;
    padding: 2.5rem 1.5rem;
    border-radius: 10px 30px;

    a {
      color: $colorPrimary;
    }

    p {
      font-size: $font-sm;
    }

    h5 {
      margin: 1.2rem 0;
    }
  }

  .active {
    transform: scale(1.08);
    background-color: $colorPrimary;
    color: $colorLight;

    a {
      color: $colorLight;
      border-bottom: 1px solid;
    }
  }
}

.property-listings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  a {
    font-size: $font-med;
    &:hover {
      opacity: 1;
    }
  }

  &__listing {
    background: $colorSecondary;
    font-weight: 500;
    border-radius: 8px;
    transition: all 400ms ease-in-out;

    &:hover {
      background: rgb(241, 187, 241);
      transform: scale(1.05);

      img {
        transform: scale(1.2);
      }
    }

    p {
      padding: 0 1rem;
    }

    h3 {
      padding: 2rem 1rem 0;
    }

    &__price {
      margin-top: 1rem;
      font-size: $font-lg;
      font-weight: 600;
    }

    &__area {
      font-weight: 700;
      font-size: $font-sm;
    }

    .img--container {
      overflow: hidden;
      height: 300px;

      img {
        height: 100%;
        transition: all 300ms ease-in-out;
      }
    }
  }
}
